
body {
  display: flex;
  height: 100vh;
  margin: 0px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}
:root{
  --mdc-theme-primary: #392F4C;
  --mdc-theme-secondary: #ffc107;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #000000;

  --ajonp-color-twitter: #1DA1F1;
  --ajonp-color-github: #23292D;
  --ajonp-color-youtube: #FF0000;
  --ajonp-color-slack: #008001;
}

.ajonp-twitter{
  color: var(--ajonp-color-twitter)!important;
}
.ajonp-github{
  color: var(--ajonp-color-github)!important;
}
.ajonp-youtube{
  color: var(--ajonp-color-youtube)!important;
}
.ajonp-slack{
  color: var(--ajonp-color-slack)!important;
}