<header class="mdc-top-app-bar app-bar" id="app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon"><i class="fas fa-bars"></i></a>
      <span class="mdc-top-app-bar__title"></span>
    </section>
  </div>
</header>
<aside class="mdc-drawer mdc-drawer--dismissible">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Menu</h3>
      </div>
  <div class="mdc-drawer__content">
    <div class="mdc-list">
        {{ $currentPage := . }} {{ range.Site.Menus.main }}
            <a class="mdc-list-item mdc-list-item--activated" href="{{ .URL }}" aria-selected="true">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ .Pre }}</i>
              <span class="mdc-list-item__text">{{ .Name }}</span>
            </a>
        {{ end }}
    </div>
    {{ with $.Site.Params.home }}
    {{ if or (isset . "showgithub") (isset . "showtwitter") (isset . "showyoutube") (isset . "showslack") }}
            {{ if and (isset . "showgithub") (isset $.Site.Params "github") }}
                <button class="mdc-button--raised" aria-label="GitHub" class="ajonp-github" href="https://github.com/{{ $.Site.Params.github }}">
                    <i class="fab fa-github fa-2x"></i>
                </button>
            {{ end }}
            {{ if and (isset . "showtwitter") (isset $.Site.Params "twitter") }}
                <button class="mdc-button--raised" aria-label="GitHub" class="ajonp-twitter"  href="https://twitter.com/{{ $.Site.Params.twitter }}">
                  <i class="fab fa-twitter fa-2x"></i>
              </button>
            {{ end }}
            {{ if and (isset . "showslack") (isset $.Site.Params "slack") }}
                <button class="mdc-button--raised" aria-label="GitHub" class="ajonp-slack"  href="https://{{ $.Site.Params.slack }}.slack.com">
                  <i class="fab fa-slack fa-2x"></i>
              </button>
            {{ end }}
            {{ if and (isset . "showyoutube") (isset $.Site.Params "youtube") }}
                <button class="mdc-button--raised" aria-label="GitHub" class="ajonp-slack" href="https://www.youtube.com/channel/{{ $.Site.Params.youtube | absURL }}">
                  <i class="fab fa-youtube fa-2x"></i>
              </button>
            {{ end }}
          {{ end }}
      {{ end }}
    {{ partial "toc" .}}
  </div>
</aside>