{{ with $.Site.Params.home }}
    {{ if or (isset . "showgithub") (isset . "showtwitter") (isset . "showyoutube") }}
        <!-- <div class="mdc-card__action-buttons"> -->
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    {{ if and (isset . "showgithub") (isset $.Site.Params "github") }}
                    <div class="mdc-layout-grid__cell--span-3">
                    <a class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded ajonp-github" expand="block" href="https://github.com/{{ $.Site.Params.github }}">
                            <i class="fab fa-github" data-fa-transform="left-6"></i>GitHub
                    </a>
                    </div>
                    {{ end }}
                    {{ if and (isset . "showtwitter") (isset $.Site.Params "twitter") }}
                    <div class="mdc-layout-grid__cell--span-3">
                    <a class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded ajonp-twitter" expand="block" href="https://twitter.com/{{ $.Site.Params.twitter }}">
                            <i class="fab fa-twitter" data-fa-transform="left-6"></i>Twitter
                    </a>
                    </div>
                    {{ end }}
                    {{ if and (isset . "showslack") (isset $.Site.Params "slack") }}
                    <div class="mdc-layout-grid__cell--span-3">
                    <a class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded ajonp-slack" expand="block" href="https://{{ $.Site.Params.slack }}.slack.com">
                                <i class="fab fa-slack" data-fa-transform="left-6"></i>Slack
                    </a>
                    </div>
                    {{ end }}
                    {{ if and (isset . "showyoutube") (isset $.Site.Params "youtube") }}
                    <div class="mdc-layout-grid__cell--span-3">
                    <a class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded ajonp-youtube" expand="block" href="https://www.youtube.com/channel/{{ $.Site.Params.youtube | absURL }}">
                            <i class="fab fa-youtube" data-fa-transform="left-6"></i>YouTube
                    </a>
                    </div>
                    {{ end }}
                </div>
            </div>
        <!-- </div> -->
    {{ end }}
{{ end }}