{{ define "header"}} {{ partial "header" .}} {{ end }} {{ define "main"}}
<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
  <main class="main-content" id="main-content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
          {{ if isset $.Site.Params "home" }}
          <div class="mdc-layout-grid__cell--span-12">
          <div class="mdc-card demo-card demo-card--hero" style="text-align: center;">
              {{with $.Site.Params.home.image }}
              <div class="mdc-card__media mdc-card__media mdc-card__media--16-9"
                style="background-image: url({{ . }});background-size: contain;">
              </div>
              {{ end }}
              {{ if (isset $.Site.Params.home "socialtitle") }}
                <h1>{{ $.Site.Params.home.socialtitle }}</h1>
              {{ end }}
              <div class="mdc-card__actions">
                  {{ partial "site-social-card-buttons" . }}
              </div>
            </div>
          </div>
          {{ end }}
        <div class="mdc-layout-grid__cell--span-12">{{ .Content }}</div>
                <div class="mdc-layout-grid__cell--span-12"><h2>Latest Video</h2></div>
        {{ range first 1 (where .Pages "Section" "lessons").ByDate.Reverse }}
          <div class="mdc-layout-grid__cell--span-12">
          {{ with .Params.twitter}}
            {{ if ne .card "app" }}
              {{ if (isset . "player") }}
                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                    <iframe src="{{ .player }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen="" title="YouTube Video" frameborder="0"></iframe>
                </div>
              {{end}}
            {{ end }}
          {{ end }}    
          </div>
        {{ end }}
        </div>
      </div>
    </div>
    {{ partial "footer_home" .}}
  </main>
</div>
<!--
      <ion-row><ion-col><h2>Latest Lessons</h2></ion-col></ion-row>
      <ion-row justify-content-center>
        {{ range first 2 (where .Pages "Section" "lessons").ByDate.Reverse }}
        {{partial "card-link" . }}
        {{ end }}
      </ion-row>
    </ion-grid>
    {{ partial "footer_home" .}}
  </ion-content>
</ion-page> -->
{{ end }}
